::-moz-selection {
background: #D46506;
}
::selection {
	background: #D46506;
}
a, .ha-transparent #navigation ul li a:hover {
	color: #D46506;
}
.ut-language-selector a:hover {
	color: #D46506;
}
.ut-custom-icon-link:hover i {
	color: #D46506 !important;
}
.ut-hide-member-details:hover, #ut-blog-navigation a:hover, .light .ut-hide-member-details, .ut-mm-button:hover:before, .ut-mm-trigger.active .ut-mm-button:before, .ut-mobile-menu a:after {
	color: #D46506;
}
p.lead span, .entry-title span, #cancel-comment-reply-link, .member-description-style-3 .ut-member-title, .ut-twitter-rotator h2 a, .themecolor {
	color: #D46506;
}
.icons-ul i, .comments-title span, .member-social a:hover, .ut-parallax-quote-title span, .ut-member-style-2 .member-description .ut-member-title {
	color: #D46506;
}
.about-icon, .ut-skill-overlay, .ut-dropcap-one, .ut-dropcap-two, .ut-mobile-menu a:hover, .themecolor-bg, .ut-btn.ut-pt-btn:hover, .ut-btn.dark:hover {
	background: #D46506;
}
blockquote, div.wpcf7-validation-errors, .ut-hero-style-5 .hero-description, #navigation ul.sub-menu, .ut-member-style-3 .member-social a:hover {
	border-color: #D46506;
}
.cta-section, .ut-btn.theme-btn, .ut-social-link:hover .ut-social-icon, .ut-member-style-2 .ut-so-link:hover {
	background: #D46506 !important;
}
.ut-social-title, .ut-service-column h3 span, .ut-rq-icon {
	color: #D46506;
}
.count, .ut-icon-list i {
	color: #D46506;
}
.client-section, .ut-portfolio-pagination.style_two a.selected:hover, .ut-portfolio-pagination.style_two a.selected, .ut-portfolio-pagination.style_two a:hover, .ut-pt-featured {
	background: #D46506 !important;
}
ins, mark, .ut-alert.themecolor, .ut-portfolio-menu.style_two li a:hover, .ut-portfolio-menu.style_two li a.selected {
	background: #D46506;
}
.footer-content i {
	color: #D46506;
}
.copyright a:hover, .footer-content a:hover, .toTop:hover, .ut-footer-dark a.toTop:hover, .hero-title span {
	color: #fff;
}
blockquote span {
	color: #D46506;
}
.entry-meta a:hover, #secondary a:hover, .page-template-templatestemplate-archive-php a:hover {
	color: #D46506;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .ut-header-dark .site-logo .logo a:hover {
	color: #D46506;
}
a.more-link:hover, .fa-ul li .fa {
	color: #D46506;
}
.ut-pt-featured-table .ut-pt-info .fa-li {
	color: #D46506 !important;
}
.button, input[type="submit"], input[type="button"], .dark button, .dark input[type="submit"], .dark input[type="button"], .light .button, .light input[type="submit"], .light input[type="button"] {
	background: #D46506;
}
.img-hover {
	background: rgb(241,196,15);
	background: rgba(241,196,15, 0.85);
}
.portfolio-caption {
	background: rgb(241,196,15);
	background: rgba(241,196,15, 0.85);
}
.team-member-details {
	background: rgba(241,196,15, 0.85 );
}
.ut-avatar-overlay {
	background: rgb(241,196,15);
	background: rgba(241,196,15, 0.85 );
}
.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .format-link .entry-header a {
	background: #D46506 !important;
}
.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover {
	border-color: #D46506 !important;
}
.light .ut-portfolio-menu li a:hover, .light .ut-portfolio-pagination a:hover, .ut-portfolio-list li strong, .light .ut-nav-tabs li a:hover, .light .ut-accordion-heading a:hover, .ut-custom-icon a:hover i:first-child {
	color: #D46506 !important;
}
.ut-portfolio-gallery-slider .flex-direction-nav a, .ut-gallery-slider .flex-direction-nav a, .ut-rotate-quote-alt .flex-direction-nav a, .ut-rotate-quote .flex-direction-nav a {
	background: rgb(241,196,15);
	background: rgba(241,196,15, 0.85);
}
.light .ut-bs-wrap .entry-title a:hover, .light .ut-bs-wrap a:hover .entry-title {
	color: #D46506;
}
.js #main-content section .section-content, .js #main-content section .section-header-holder {
	opacity: 0;
}
#navigation {
	font-family: "ralewaysemibold", Helvetica, Arial, sans-serif !important;
}
#navigation li a:hover {
	color: #D46506;
}
#navigation .selected, #navigation ul li.current_page_parent a.active, #navigation ul li.current-menu-ancestor a.active {
	color: #D46506;
}
#navigation ul li a:hover, #navigation ul.sub-menu li a:hover {
	color: #D46506;
}
#navigation ul.sub-menu li > a {
	color: #999999;
}
#navigation ul li.current-menu-item:not(.current_page_parent) a, #navigation ul li.current_page_item:not(.current_page_parent) a {
	color: #D46506;
}
#navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a {
	color: #999999;
}
.ut-header-dark #navigation li a:hover {
	color: #D46506;
}
.ut-header-dark #navigation .selected, .ut-header-dark #navigation ul li.current_page_parent a.active, .ut-header-dark #navigation ul li.current-menu-ancestor a.active {
	color: #D46506;
}
.ut-header-dark #navigation ul li a:hover, .ut-header-dark #navigation ul.sub-menu li a:hover {
	color: #D46506;
}
.ut-header-dark #navigation ul.sub-menu li > a {
	color: #999999;
}
.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) a, .ut-header-dark #navigation ul li.current_page_item:not(.current_page_parent) a {
	color: #D46506;
}
.ut-header-dark #navigation ul li.current-menu-item:not(.current_page_parent) .sub-menu li a {
	color: #999999;
}
body {
	font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
	font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
	font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h5 {
	font-family: ralewaymedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h6 {
	font-family: ralewaybold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ut-tablets-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url(../images/welcome.jpg);
}
.hero .parallax-overlay {
	background-color: rgba(44,62,80 , 0.2 );
}
#contact-section {
	background-repeat: no-repeat !important;
background-attachment: !important;
background-position: !important;
	background-size: 100% !important;
	background-color:#000;
	background-image: url(../images/parallax-banner-5.jpg);
}
#contact-section .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-section .parallax-overlay {
	background: rgba(44,62,80,0.6);
	background-image:url("../images/overlay-pattern.png") !important;
}
#contact-section .parallax-overlay {
	padding-top: 80px;
	padding-bottom: 120px;
}
blockquote {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.lead, .taxonomy-description {
	font-family: ralewayregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#ut-loader-logo {
	background-image: url(wp-content/uploads/2013/11/brooklyn-logo-dark.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#about-brooklyn {
	padding-top: 80px;
	padding-bottom: 40px;
}
#about-brooklyn .ut-offset-anchor {
	top: -159px;
}
#about-brooklyn .parallax-header {
	padding-bottom: 30px;
}
#about-brooklyn .section-header {
	padding-bottom: 30px;
}
#about-brooklyn .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#about-brooklyn .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#about-brooklyn {
background-color:;
}
#about-brooklyn .section-header.pt-style-1 .section-title span {
background-color:;
}
#our-philosophy-is .parallax-overlay {
	padding-top: 80px;
	padding-bottom: 60px;
}
#our-philosophy-is .parallax-header {
	padding-bottom: 30px;
}
#our-philosophy-is .section-header {
	padding-bottom: 30px;
}
#our-philosophy-is .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-philosophy-is .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-philosophy-is.parallax-section {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url(../images/slide-32.jpg);
	padding:80px 0 10px;
}
#our-philosophy-is {
background-color:;
}
#our-philosophy-is .section-header.pt-style-1 .section-title span {
background-color:;
}
#our-philosophy-is .parallax-overlay {
	background-color: rgb(44,62,80);
}
#our-philosophy-is .parallax-overlay {
	background-color: rgba(255,255,255 , 1 );
}
#our-team {
	padding-top: 40px;
	padding-bottom: 10px;
}
#our-team .ut-offset-anchor {
	top: -159px;
}
#our-team .parallax-header {
	padding-bottom: 30px;
}
#our-team .section-header {
	padding-bottom: 30px;
}
#our-team .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-team .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-team {
background-color:;
}
#our-team .section-header.pt-style-1 .section-title span {
background-color:;
}
#some-fun-facts .parallax-overlay {
	padding-top: 80px;
	padding-bottom: 60px;
}
#some-fun-facts .parallax-header {
	padding-bottom: 30px;
}
#some-fun-facts .section-header {
	padding-bottom: 30px;
}
#some-fun-facts .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#some-fun-facts .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#some-fun-facts.parallax-section {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url(../images/parallax-banner-62.jpg);
}
#some-fun-facts {
background-color:;
}
#some-fun-facts .section-header.pt-style-1 .section-title span {
background-color:;
}
#some-fun-facts .parallax-overlay {
	background-color: rgb(44,62,80);
}
#some-fun-facts .parallax-overlay {
	background-color: rgba(44,62,80 , 0.6 );
}
#drop-us-a-line {
	padding-top: 40px;
	padding-bottom: 40px;
}
#drop-us-a-line .ut-offset-anchor {
	top: -119px;
}
#drop-us-a-line .parallax-header {
	padding-bottom: 30px;
}
#drop-us-a-line .section-header {
	padding-bottom: 30px;
}
#drop-us-a-line .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#drop-us-a-line .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#drop-us-a-line {
	background-image: url();
}
#drop-us-a-line {
	background-color: #D46506;
}
#drop-us-a-line .section-header.pt-style-1 .section-title span {
	background-color: #D46506;
}
#our-service .parallax-overlay {
	padding-top: 80px;
	padding-bottom: 60px;
}
#our-service .parallax-header {
	padding-bottom: 30px;
}
#our-service .section-header {
	padding-bottom: 30px;
}
#our-service .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-service .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#our-service.parallax-section {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url(../images/parallax-banner-32.jpg);
}
#our-service {
background-color:;
}
#our-service .section-header.pt-style-1 .section-title span {
background-color:;
}
#our-service .section-content h1 {
	color: #D46506 !important;
}
#our-service .section-content h2 {
	color: #D46506 !important;
}
#our-service .section-content h3 {
	color: #D46506 !important;
}
#our-service .section-content h4 {
	color: #D46506 !important;
}
#our-service .section-content h5 {
	color: #D46506 !important;
}
#our-service .section-content h6 {
	color: #D46506 !important;
}
#our-service .parallax-overlay {
	background-color: rgb(44,62,80);
}
#our-service .parallax-overlay {
	background-color: rgba(44,62,80 , 0.6 );
}
#work {
	padding-top: 80px;
	padding-bottom: 60px;
}
#work .ut-offset-anchor {
	top: -159px;
}
#work .parallax-header {
	padding-bottom: 30px;
}
#work .section-header {
	padding-bottom: 30px;
}
#work .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#work .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#work {
background-color:;
}
#work .section-header.pt-style-1 .section-title span {
background-color:;
}
#get-connected .parallax-overlay {
	padding-top: 80px;
	padding-bottom: 60px;
}
#get-connected .parallax-header {
	padding-bottom: 30px;
}
#get-connected .section-header {
	padding-bottom: 30px;
}
#get-connected .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#get-connected .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#get-connected {
	background-repeat: repeat-y !important;
	background-attachment: fixed !important;
	background-position: center bottom !important;
	background-size: cover !important;
	background-image: url("http://themeforest.unitedthemes.com/wpversions/brooklyn/basic/wp-content/uploads/2013/10/8180008376_eeb73d556c_b.jpg");
}
#get-connected {
background-color:;
}
#get-connected .section-header.pt-style-1 .section-title span {
background-color:;
}
#get-connected .section-content h1 {
	color: #D46506 !important;
}
#get-connected .section-content h2 {
	color: #D46506 !important;
}
#get-connected .section-content h3 {
	color: #D46506 !important;
}
#get-connected .section-content h4 {
	color: #D46506 !important;
}
#get-connected .section-content h5 {
	color: #D46506 !important;
}
#get-connected .section-content h6 {
	color: #D46506 !important;
}
#get-connected .parallax-overlay {
	background-color: rgb(44,62,80);
}
#get-connected .parallax-overlay {
	background-color: rgba(44,62,80 , 0.6 );
}
#happy-clients-2 {
	padding-top: 80px;
	padding-bottom: 60px;
}
#happy-clients-2 .ut-offset-anchor {
	top: -159px;
}
#happy-clients-2 .parallax-header {
	padding-bottom: 30px;
}
#happy-clients-2 .section-header {
	padding-bottom: 30px;
}
#happy-clients-2 .parallax-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#happy-clients-2 .section-title {
	font-family: ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#happy-clients-2 {
background-color:;
}
#happy-clients-2 .section-header.pt-style-1 .section-title span {
background-color:;
}
#clients {
	padding-top: 90px;
	padding-bottom: 20px;
}
#clients .ut-offset-anchor {
	top: -99px;
}
#clients .parallax-header {
	padding-bottom: 30px;
}
#clients .section-header {
	padding-bottom: 10px;
}
#clients .parallax-title {
	font-family: ralewayextralight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#clients .section-title {
	font-family: ralewaysemibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#clients {
	background-image: url();
}
#clients {
	background-color: #fff;
}
#clients .section-header.pt-style-1 .section-title span {
	font-size:30px; color:#222222; font-weight:bolder;
}

.btn_grp{ position:absolute; top:97px; right:20px;}
.btn_grp a{ display:block; margin:10px 0;}
.custom_btn{ background:rgba(0,0,0,0);border: 1px solid #d46506; color:#d46506;
    border-radius: 3px; box-sizing: border-box; cursor: pointer; display: inline-block; font-family: "ralewaymedium",Helvetica,Arial,sans-serif;
    letter-spacing: 0.5px; line-height: normal; margin-bottom: 20px; padding: 8px 12px;text-align: center;text-decoration: none;text-transform: uppercase;transition: background 0.2s linear 0s; width: auto;}
	.custom_btn{ background:#ba5906; color:#fff; transition:all ease-in-out 0.3s; text-align:center; text-decoration:none !important;}
.cus_team figure{ width:160px; height:160px; border-radius:160px; -webkit-border-radius:160px; -moz-border-radius:160px; border:7px solid rgba(168, 90, 22, 0); box-shadow:0 0 3px rgba(0, 0, 0, 0.3);}	
.cus_team p strong{ color:#ba5906; font-family: "ralewaymedium",Helvetica,Arial,sans-serif;}
.cus_team p span{ display:block; color:#333;}
.t_cen{padding-top:44px;}
.text-center{text-align:center;}
h2.text-center{margin:10px 0 40px;}
.collo{color:#BA5906; font-size:17px;}
.rig_sec{bottom:0; top:auto}
.member-description .ut-member-title, .member-description p{margin:0; padding:0;}
.ut-service-column.full p{font-size:12px; color:#222; line-height:18px; letter-spacing:0;}
.ut-service-column.full p a strong{font-size:14px; letter-spacing:1;}
.ut-service-column.full p span{color:#787575; font-size:14px; min-height:14px; vertical-align:middle; line-height:14px; margin:0px 0;}
.ut-brands .line{display:inline-block; float:none; min-height:165px; padding:0 10px; text-align:center; width:24%}
.ut-brands .line h4{color:#000; font-size:13px;}
.ut-brands .line  a{min-height:80px; display:inline-block}
.rig_side_tm{float:left;}
.rig_side_tm figure.ut-service-icon {float:right; margin-right:0 !important; margin-left:15px;}
.rig_side_tm .ut-service-column{float:right; text-align:right;}
.top_txt{margin-top:70px}
ul.fa-ul li a{  color: #fff;
    letter-spacing: 1px;
    line-height: 17px;
    text-transform: none;}
ul.fa-ul li a:hover{color:#C66005}
#our-team .cus_team figure.ut-service-icon {margin:0 0 15px; display:inline-block; float:none}
#our-team .ut-one-full {text-align:center}
.btn_grp.mob_full{width:100%; display:none}
.nav_btn, .nav_btn:hover{background:#ba5906; color:#fff !important; font-size:14px; padding:5px 10px; border-radius:4px; -webkit-border-radius:4px; border:1px solid #d46506; margin-top:-5px; display:inline-block }
.hth .custom_btn{padding:10px 20px; font-size:20px;}
 .nav_btn:hover, .custom_btn:hover{color:#fff !important; background:rgba(186,89,6, 0.7) !important}
 .lead.blck strong{color:#ba5906;}
@media(max-width:1024px){
	.hero-inner h1{font-size:18px;}
	#about-brooklyn .ut-one-full{text-align:center;}
	.ut-service-icon{display:inline-block; float:none; margin-right:0;}
	.t_cen{padding-top:0;}
	.rig_side_tm .ut-service-column {
    clear: both;
    float: right;
    text-align: right;
}
.t_cen{clear:both}
.cus_team figure{float:left;}
.fr_mob .cus_team figure{float:none;}

	}
	
@media(max-width:992px){
	.rig_sec{bottom:-56px}
	.ut-brands .line{width:33.3%; margin-bottom:20px}
	}
	
@media(max-width:767px){

.rig_side_tm{display:inline-block; float:none; text-align:center; width:100%}
.rig_side_tm figure.ut-service-icon{float:none; }
.rig_side_tm .ut-service-column{float:none; text-align:center !important; margin-bottom:20px;}
.cus_team figure{float:none; display:inline-block;}
#about-brooklyn .ut-one-half{text-align:center !important;}
.ut-service-column{text-align:center !important;}

	.ut-word-rotator span{font-size:30px;}
	.hero-inner h1{margin-top:5px; margin-bottom:5px;}
	.top_txt {
    margin-top: 88px;
}

.btn_grp.mob_full{width:60%; display:block; position:relative; left:20%; right:20%; top:0}
.mob_dis{display:none}
#about-brooklyn{padding-top:30px;}
.sm{margin:1px 0;}
.ut-brands .line{width:50%}
.hero, .parallax-overlay{min-height:680px !important;}
	}
@media(max-width:479px){
	.cta-btn a{font-size:20px;}
	.ut-word-rotator span{font-size:20px;}
	.hero-inner h1{line-height:145%}
	#our-philosophy-is .parallax-overlay{padding-bottom:150px;}
	.rig_sec{bottom:-150px; left:10%; right:10%; width:80%;}
	.ut-brands .line{width:100%}
	}

@media(max-width:319px){
	.btn_grp.mob_full{width:90%; left:5%; right:5%}
	.top_txt img{max-width:100px;}
	.ut-word-rotator span{font-size:12px;}
	.hero-inner h1{font-size:11px}
	.hero-inner h1 #ut_word_rotator_1 sup{line-height:15px;}
	.hth .custom_btn{font-size:14px;}
	}
.participatealgin .tablet-grid-50 {
  min-height: 132px !important;
}